
@media screen and (max-width: 599px)
  .header
    margin-bottom: 24px


  .header__heading
    background: $main-color
    padding: 0 20px
    height: 72px
    display: flex
    justify-content: space-between
    align-items: center

  .header__logo
    color: $point-color
    font-size: 38px
    font-weight: 800

  .header__navi__btn-menu--open,
  .header__navi__btn-menu--close
    height: 68px
    float: right
    color: $point-color
    .icon-menu, .icon-cancel
      font-size: 30px
      font-weight: 800


  .header__navi
    display: block



  .header__navi__lnb_list
    li
      height: 72px
      font-size: $font-m-size
      display: flex
      align-items: center
  .navi_menu_service
    // margin: 28px 0
    &::before
      content: ''
      background: #aaa
      position: absolute
      top: 148px
      left: 20px
      width: 90%
      height: 1px

  .navi_menu_tutor, .navi_menu_service
    padding: 20px
    a
      padding: 20px 60% 20px 0

  .header__navi__lnb_list-sec-2
    display: flex
    justify-content: center
    li
      width: 50%
      font-size: $font-m-size
      display: flex
      align-items: center


  .navi_menu_join , .navi_menu_login
    border: 2px solid $point-color
    display: flex
    justify-content: center

  .navi_menu_join
    background: $point-color
    color: #fff
    a
      display: block
      padding: 20px
            // background-color: red
  .navi_menu_login
    background: #fff
    color: $point-color
    a
      padding: 20px


@media screen and (min-width: 600px)
  .header
    background: $main-color

  .header__wrapper
    max-width: 940px
    margin: 0 auto
    height: 72px
    display: flex
    justify-content: space-between
    align-items: center

  .header__logo
    color: $point-color
    font-size: 38px
    font-weight: 800

  .header__navi__btn-menu--open,
  .header__navi__btn-menu--close
    display: none

  .header__navi
    display: flex

  .header__navi__lnb_list, .header__navi__lnb_list-sec-2
    display: flex
    font-size: $font-l-size
    color: white

    li
      margin-left: 40px
      a
        padding: 20px 0 


  
