
// @import "layout_lec_summary"
.wrapper
  // background-color: rgb(218, 252, 173)

// @media screen and (max-width: 589px)





// @media screen and (min-width: 690px)
.wrapper-enroll
  padding: 20px
  margin: 29px auto 0 auto

.profile
  color: #f3f3f3
  float: left
  margin-left: 113px
  margin-right: 20px


.profile__wrapper__user
  background: $font-main-color
  display: inline-block
  width: 38.78%
  width: 300px
  padding: 60px
  margin: 0 auto
  // float: left
  max-width: 480px
  // position: fixed
  // background: #fff
  // top: 100px

.member__info
  position: relative
  // background: #92f
  padding-bottom: 20px
  // display: inline-block
  text-align: center

.member__info-img
  width: 65px
  height: 65px
  border-radius: 50%
  // background: #115
  text-align: center

.member__info-img__edit
  position: absolute
  top: 53px
  left: 70px
  background: #335
  font-size: 10px

.member__username
  text-align: center
  font-size: $font-l-size
  font-weight: 600

.profile__list
  // background: #22c
  margin: 0 auto

.profile__list__detail
  // background: #1C6
  font-size: $font-m-size
  // padding: 20px



.profile__list th
  font-size: $font-m-size
  display: inline-block
  text-align: left
  // background: #01f

.profile__list__detail-id, .profile__list__detail-nickname
  letter-spacing: 6.5px

.profile__list td
  font-size: $font-m-size
  // display: inline-block
  text-align: left
  // margin-left: 10px
  // background: #fff
  // padding-left: 50px

.member__info__lec
  background: $font-sub-color
  width: 300px
  font-size: 0
  margin-bottom: 1000px
  // display: inline-block
  // float: left




.member__info__lec-list
  display: inline-block
  width: 150px
  height: 100px
  padding: 30px 10px
  text-align: center
  vertical-align: middle
  font-size: $font-m-size
  border: 1px solid $font-main-color
